div[class*='col']
{
    background-color: gray;
    height: 200px;
    box-sizing: border-box;
    border: white 10px solid;
}

/* we hadden ook deze class kunnen
opmaken maar dan moeten we aan
elke div de class box tooevoegen
.box
{
    height: 200px;
    box-sizing: border-box;
    border: white 10px solid;

}
*/
